{% load static %}
<link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css'%}">
<link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css'%}">
<!-- endinject -->
<!-- Plugin css for this page -->
<!-- End plugin css for this page -->
<!-- inject:css -->
<!-- endinject -->
<!-- Layout styles -->
<link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
<!-- End layout styles -->
<link rel="shortcut icon" href="{% static 'assets/images/favicon.ico'%}" />

{% block css %}

{% endblock css %}