{% extends 'main.html' %}

{% block content %}


<div class="container mt-2">
    <div class="row card">
      <div class="col-12">
          <table class="table table-image">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Service Name</th>
                <th scope="col">Address</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% if order %}
                {% for orders in order %}
                    <tr>
                        <td class="col-1" href="{% url 'service-page' pk=orders.services.id %}">
                            <img src="{{orders.services.featured_image.url}}" class="img-fluid img-thumbnail" alt="Sheep">
                        </td>
                        <th scope="row"><a href="{% url 'service-page' pk=orders.services.id %}">{{orders.services}}</a></th>
                        <td>{{orders.address}}</td>
                        <td>{{orders.start_date}}
                          <br>{{orders.start_time}}</td>
                        <td>{{orders.end_date}}
                          <br>{{orders.end_time}}</td>
                        <td>{{orders.status}}</td>
                        <td>
                          {% if orders.status == 'Accept' %}
                        
                          <a type="button" href="{% url 'complete-order' pk=orders.id %}" class="btn btn-warning">Complete</a>
                          {% elif orders.status == 'Completed' %}
                          <a type="button" href="" class="btn btn-success">Completed</a>
                          {% else %}
                          <a type="button" href="{% url 'accept-order' pk=orders.id %}" class="btn btn-primary">Accept</a>
                          {% endif %}
                        </td>
                    </tr>
                
                {% endfor %}
              
                {% else %}
                    <p>No Order Here</p>
                {% endif %}
            </tbody>
          </table>   
      </div>
    </div>
  </div>

{% endblock content %}