{% load static %}

{{ serviceBookForm.media }}
    <link rel="apple-touch-icon" href="{% static 'cus/assets/img/apple-icon.png'%}">
    {% comment %} <link rel="shortcut icon" type="image/x-icon" href="{% static 'cus/assets/img/favicon.ico'%}"> {% endcomment %}

    <link rel="stylesheet" href="{% static 'cus/assets/css/custom.css'%}">
    <link rel="stylesheet" href="{% static 'cus/assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'cus/assets/css/templatemo.css'%}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'cus/assets/css/fontawesome.min.css'%}">
    {% comment %} <link rel="stylesheet" href="{% static 'jquery/jquery-ui.css'%}">
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui.min.css'%}">
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui.structure.css'%}">
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui.structure.min.css'%}">
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui.theme.css'%}">
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui.theme.min.css'%}"> {% endcomment %}

    {% comment %} <script src="{% static 'jquery/external/jquery/jquery.js'%}"></script>
    {% comment %} <script src="{% static 'jquery/jquery-ui.js'%}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'jquery/jquery-ui.min.js'%}"></script> {% endcomment %}
  


