{% extends 'customer/nav.html' %}

{% block content %}

</form>

    <!-- Start Contact -->
    <div class="container py-5">
        <div class="row py-5">
            <form class="col-md-9 m-auto" action="" method="post" role="form">
                <div class="row">
                    {% csrf_token %}
                    {{messageForm}}
                <div class="row">
                    <div class="col text-end mt-2">
                        <button type="submit" class="btn btn-success btn-lg px-3">Let’s Talk</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Contact -->
{% endblock content %}