{% extends 'customer/nav.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
      <div class="col-12">
          <table class="table table-image">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Service Name</th>
                <th scope="col">Address</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
                {% if order %}
                {% for orders in order %}
                    <tr>
                        <td class="col-1" href="{% url 'service-page' pk=orders.services.id %}">
                            <img src="{{orders.services.featured_image.url}}" class="img-fluid img-thumbnail" alt="Sheep">
                        </td>
                        <th scope="row"><a href="{% url 'service-page' pk=orders.services.id %}">{{orders.services}}</a></th>
                        <td>{{orders.address}}</td>
                        <td>{{orders.start_date}} {{orders.start_time}}</td>
                        <td>{{orders.end_date}} {{orders.end_time}}</td>
                        <td>{{orders.status}}</td>
                    </tr>
                
                {% endfor %}
              
                {% else %}
                    <p>No Order Here</p>
                {% endif %}
            </tbody>
          </table>   
      </div>
    </div>
  </div>
{% endblock content %}