{% extends 'customer/nav.html' %}

{% block content %}

<style>
    .card-img, .card-img-bottom, .card-img-top{
        width: 100%!important;
        height: 25rem!important;
        object-fit: cover!important;
    }
</style>

    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="{{service.featured_image.url}}" alt="Card image cap" id="product-detail">
                    </div>
                    <div class="row pb-3">
                        <div class="col d-grid">
                            {% if owner %}
                            <a href="{% url 'update-services' pk=service.id %}" type="massage"  class="btn btn-success btn-lg" name="edit" value="edit">edit</a>
                            {% else %}
                            <a href="{% url 'create-message' pk=service.id %}" type="massage"  class="btn btn-success btn-lg" name="massage" value="massage">massage</a>
                            {% endif  %}
                        </div>
                        
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{service.service_name}}</h1>
                            <p class="h3 py-2">₹{{service.price}}</p>
                            <p class="py-2">
                                
                                <span class="list-inline-item text-dark"> {{service.vote_ratio}} Rating |{{count_rivew}}Comments</span>
                            </p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Provider:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{service.service_owner.shopname}}</strong></p>
                                </li>
                            </ul>

                            <h6>Description:</h6>
                            <p>{{service.service_description}}</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>category :</h6>
                                    <p>{{service.category}}</p>
                                </li>
                            
                            </ul>

                            <form action="" method="GET">
                                <input type="hidden" name="product-title" value="Activewear">
                                
                                <div class="row pb-3">
                                    {% if owner %}
                                    {% else %}
                                    <a href="{% url 'book-services' pk=service.id %}" class="col btn btn-success btn-lg">
                                        Book Now
                                    </a>
                                    {% endif %}
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->
<script>

</script>


{% endblock content %}